#myProgress {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #ddd;
}

#myBar {
  background-color: #4CAF50;
  width: 10px;
  height: 30px;
  position: absolute;
}
#div1 {
  width: 350px;
  height: 250px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}